body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*background-image: url(../img/google-inspired.jpg);*/
    background-color: #F6F6F6;
    background-repeat: no-repeat;
}

.btn .caret {
    margin: 6px 0px 0px 3px;
    float: right;
}

.editors {
    /*margin: 0px 0px 0 217px;*/
    float: left;
    width: 100%;
    padding: 10px;
    position: relative;
    background: transparent;
}

.top, .bottom {
    width: 100%;
    height: 50%;
}

.editorContainer,
.halfEditorContainer {
    width: calc(30% - 6px);
    float: left;
    margin: 0 3px 5px;
}

.halfEditorContainer > div {
    width: 100%;
    float: left;
    margin: 0 0 5px;
}

.previewContainer {
    width: calc(40% - 6px);
}

.previewWrapper {
    max-width: 500px;
    width: 100%;
    margin: auto;
    position: relative;
}

.previewWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
    background-repeat: no-repeat;
    opacity: .6;
}

.previewWrapper.grid-off:before {
    background-image: none;
}

.editor {
    height: 500px;
    width: 100%;
    border: 1px #cecece solid;
    position: relative;
    box-shadow: 0px 5px 13px 0px #ccc;
}

.halfEditorContainer .editor {
    height: 248px;
}

.editor:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background: #ddd;
    padding: 3px;
    opacity: 0.8;
}

#html-editor {
    height: 315px;
}

#js-editor {
    height: 180px;
}

#html-editor:before {
    content: 'HTML';
}

#css-editor:before {
    content: 'CSS';
}

#js-editor:before {
    content: 'Javascript';
}

#preview {
    border: none;
    box-shadow: none;
}

.previewWrapper:after {
    content: 'Preview';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: #ddd;
    padding: 5px;
    opacity: 0.8;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    color: #000;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#sidebar,
#tips {
    padding: 0;
    margin: 0;
    font-size: 11px;
    width: 217px;
    position: absolute;
    top: 51px;
    left: 0;
    background-color: #fff;
    color: #444;
    z-index: 9999;
    border: 1px solid #bbb;
}

.navbar-default {
    background: rgba(64, 81, 181, 1);
    border-color: #cecece;
    border-radius: 0px;
    border: none;
    height: 44px;
    margin-bottom: 0px;
}

.navbar-header {
    background: #3d4b9c;
}

.navbar-default .navbar-brand {
    margin-right: 0px;
    color: #fff;
}

.navbar-default .navbar-brand img {
    height: 21px;
    border: 2px solid #eee;
    float: left;
    margin-right: 5px;
}

.navbar-default .navbar-brand:hover {
    color: #cecece;
}

.navbar-default ul li {
    margin-right: 1px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cecece;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

.panel-group .panel {
    border-radius: 0px;
    border: none;
}

.panel-title {
    font-size: 14px;
}

.panel-group .panel+.panel {
    margin-top: 2px;
}

.panel-default>.panel-heading {
    background-image: none;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown, .panel .panel-heading{
    text-align: center;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.btn-default {
    background-image: none;
    border-radius: 0px;
    padding: 5px;
    font-size: 12px;
    width: 170px;
    margin-bottom: 10px;
}

.dropdown-menu {
    border-radius: 0px;
}

.add {
    border: none;
    width: 25px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

Radio Check Labels 
.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
    padding-left: 25px;
    font-size: 12px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-top: 5px;
    margin-left: -25px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -3px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #609B61;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
    border: 2px solid #666666;
}

input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
    background-color: #bbbbbb;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
    border-color: #579357;
}

input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
    border-color: #bbbbbb;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -25px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #609B61;
    border-color: #579357;
}

.leftside {
    width: 49%;
    height: 100%;
    margin-right: 5px;
    float: left;
}

.rightside {
    width: 49%;
    height: 100%;
    float: left;
}

.extra {
    text-align: left;
}

.chk_lbl {
    font-size: 14px;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}

.ext_res {
    width: 155px;
}
    
.langcontainer {
    float: left;
    width: 85px;
    margin-bottom: 10px;
}

.langbutton {
    float: left;
    width: 85px;
    margin: 0px;
}

.langright {
    margin-left: 10px;
}

.draw_switch,
.grid_switch {
    float: right;
    margin: 8px 0 0 8px;
}

.draw_switch span,
.grid_switch span {
    display: inline-block;
    padding: 8px;
    color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.control-bar > div {
	padding: 5px 0 15px;
}

.control-bar .input-group {
	width: 300px;
	float: right;
	margin-right: 5px;
}

.width50 {
	width: 50%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}